<!doctype html>
    <html>
        <body id = "home">
    <head>
        <title>PetTalk-Topics</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        <link rel="stylesheet" href="./static/stylish.css">
    </head>

    <body>
        <h1>Welcome!</h1>

        <div class="topnav">
            <a href="index.php">Stuff</a>
            <a href="about.php">Topic</a>
            <a href="contact.php">Stuff</a>
        </div>

        {% for post in posts %}
            <h1>{{ post.post_by }}</h1>
            <p>{{ post.post_subject }}</p>
        
            {% if post.post_id in replies_dict %}
                {% for reply in replies_dict[post.post_id] %}
                    <h2>{{ reply.reply_by }}</h2>
                    <p>{{ reply.reply_content }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </body>
</html>
