<!doctype html>
    <html>
        <body id = "home">
    <head>
        <title>PetTalk-Topics</title>
        <meta name="description" content="Our first page">
        <meta name="keywords" content="html tutorial template">
        <link rel="stylesheet" href="./static/stylish.css">
    </head>

    <body>
        <h1>Welcome!</h1>

        {% block content %}
            {% for post in posts_data %}
                <div>
                <h2>{{ post[2] }}</h2>
                {% for reply in replies_data %}
                    {% if reply[1] == post[0] %}
                    <p>{{ reply[2] }}</p>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        {% endblock %}
    </body>
</html>
