<!DOCTYPE html>
<html>

<head>
    <script src="{{ url_for('static',filename='js.js') }}"></script>
    <link rel="stylesheet" href="./static/login.css">
</head>

<body>
    <h1 align="center">Posts</h1>

    <form>
    <div class="post-box">
        <input type="text" name="topic" id="topic">
        <label>Enter your topic</label>
    </div>

    <div class="post-box">
        <input type="text" name="post" id="post">
        <label>Type your message here</label>
    </div>

    <div class="submit-box">
        <button type="button" name="submit" onclick="addPost()">submit</button>
    </div>
    </form>
</body>
</html>