<!DOCTYPE html>
<html lang="en">
<head>
    <title>PetTalk-Posts</title>
    <link rel="stylesheet" href="./static/stylish.css">
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
</head>

<div data-role="header">
    <div class="ui-btn-left">
        <a href="#" data-role="button">Button1</a>
    </div>
    <h1>HeaderText/Image</h1>
    <div class="ui-btn-right">
        <a href="#" data-role="button" data-icon="gear" data-iconpos="notext">B1</a>
        <a href="#" data-role="button" data-icon="gear" data-iconpos="notext">B2</a>
        <a href="#" data-role="button" data-icon="gear" data-iconpos="notext">B3</a>
    </div>
</div>
    

    <body>
        Content goes here.
    </body>
</html>
